#TJ {
    position: absolute;
    width: 90px;
    height: 12px;
    right: 0;
    left: 865px;
    top: 425px;
    bottom: 0;
    text-align:center;
}
#AH {
    position: absolute;
    width: 60px;
    height: 12px;
    right: 0;
    left: 1650px;
    top: 270px;
    bottom: 0;
    text-align:center;
}
#WC {
    position: absolute;
    width: 95px;
    height: 12px;
    right: o;
    left: 1525px;
    top: 282px;
    bottom: 0;
    text-align:center;
}
#SB {
    position: absolute;
    width: 75px;
    height: 12px;
    right: 0;
    left: 925px;
    top: 675px;
    bottom: 0;
    text-align:center;
}
#NM {
    position: absolute;
    width: 80px;
    height: 12px;
    right: 0;
    left: 1785px;
    top: 1025px;
    bottom: 0;
    text-align:center;
}
#ML {
    position: absolute;
    width: 70px;
    height: 12px;
    right: 0;
    left: 1625px;
    top: 290px;
    bottom: 0;
    text-align:center;
}
#JC {
    position: absolute;
    width: 60px;
    height: 12px;
    right: 0;
    left: 1605px;
    top: 330px;
    bottom: 0;
    text-align:center;
}
#SFA {
    position: absolute;
    width: 98px;
    height: 12px;
    right: 0;
    left: 1630px;
    top: 360px;
    bottom: 0;
    text-align:center;
}
#QE1 {
    position: absolute;
    width: 95px;
    height: 12px;
    right: 0;
    left: 1525px;
    top: 267px;
    bottom: 0;
    text-align:center;
}
#KL {
    position: absolute;
    width: 80px;
    height: 12px;
    right: 0;
    left: 1570px;
    top: 305px;
    bottom: 0;
    text-align:center;
}